[submodule "seam"]
	path = seam
	url = https://github.com/dowdiness/seam.git
[submodule "incr"]
	path = incr
	url = https://github.com/dowdiness/incr
[submodule "loom"]
	path = loom
	url = https://github.com/dowdiness/loom.git
